//
// CSS3 Keyframe Animations
// --------------------------------------------------

@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// rage
// ==========

@include keyframes(rage) {
    0% {
        background-color: $white;
        background-image: url('#{$baseUrl}/images/logo.png');
        color: $black;
        transform: rotate(0) scale(1);
    }
    100% {
        background-color: $black;
        background-image: none;
        color: $white;
        transform: rotate(-360deg) scale(4);
    }
}

@include keyframes(rageTranslate) {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
