{
    presets: [
        "es2015",
        "react",
        "stage-2"
    ],
    plugins: [
        "transform-class-properties",
        [
            "module-alias", 
            [
              { "src": "./src/javascript/actions", "expose": "actions" },
              { "src": "./src/javascript/services", "expose": "services" },
              { "src": "./src/javascript/stores", "expose": "stores" },
              { "src": "./src/javascript/utils", "expose": "utils" },
              { "src": "./src/javascript/views/components", "expose": "components" },
              { "src": "./src/javascript/views/pages", "expose": "pages" },
            ]
        ]
    ]
}
