.breakpoint-tracker {
    display: block;
    min-height: 30px;
    margin: 0;
    @include rem(padding, 1);
    @include rem(font-size, 1.4);
    background-color: #FFD740;

    p {
        margin: 0;
    }
}

// Media Queries
// --------------
@include media (">=small") {
    .breakpoint-tracker {
        background-color: #18FFFF;
    }
}

@include media (">=medium") {
    .breakpoint-tracker {
        background-color: #E040FB;
    }
}

@include media (">=large") {
    .breakpoint-tracker {
        background-color: #B2FF59;
    }
}

@include media (">=xlarge") {
    .breakpoint-tracker {
        background-color: #FFFF00;
    }
}

