//
// Component: Breakpoint Tracker
// ---------------------------

$boxShadowDimensions: -1rem 0 0 0 !default;

.breakpoint-tracker {
    display: block;
    @include rem(margin, 0, 0, 0, -9);
    @include rem(padding-left, 9);
    box-shadow: $boxShadowDimensions #FFD740;
}

// Media Queries
// --------------
@include media (">=small") {
    .breakpoint-tracker {
        box-shadow: $boxShadowDimensions #18FFFF;
    }
}

@include media (">=medium") {
    .breakpoint-tracker {
        box-shadow: $boxShadowDimensions #E040FB;
    }
}

@include media (">=large") {
    .breakpoint-tracker {
        box-shadow: $boxShadowDimensions #B2FF59;
    }
}

@include media (">=xlarge") {
    .breakpoint-tracker {
        box-shadow: $boxShadowDimensions #FFFF00;
    }
}

