//
// Component: Navigation
// ---------------------------

.navigation {
    @include rem(margin, 0);
    @include rem(padding, 0);

    li {
        display: block;
        line-height: 1.5;

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        &.selected a {
            font-weight: bold;
        }
    }
}
